@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

.error {
  @apply bg-danger font-bold text-sm border-2 border-danger text-white rounded-md my-2 pl-2;
}

.card-result {
  @apply transition-all duration-500 ease-in-out hover:bg-dark_light transform hover:-translate-y-1 hover:scale-105;
}

.bg {
  background-color: antiquewhite;
}

.bg-top {
  @apply bg-gradient-to-b from-pink-400 via-purple-400 to-pink-400;
}

.btn-search {
  @apply absolute flex justify-center items-center right-0 top-0 bottom-0 w-16 rounded-r-lg;
}

.btn-color {
  @apply bg-primaryA hover:bg-primaryA/90;
}

.text-color {
  @apply hover:text-dark text-primaryA font-bold;
}

.btn-danger {
  @apply bg-danger hover:bg-dark font-extrabold;
}

.btn-success {
  @apply bg-successfull hover:bg-dark;
}

.order-item {
  @apply bg-light;
}

.flex-col-center {
  @apply flex flex-col min-h-screen justify-center self-center items-center;
}

.flex-center {
  @apply flex min-h-screen  justify-center self-center items-center relative;
}

.header {
  @apply fixed top-4 w-full px-4 z-40;
}

.container-page {
  min-height: calc(100vh - 222px);
  background-color: white;
}

.order::-webkit-scrollbar {
  width: 8px;
}

.order::-webkit-scrollbar-track {
  background: rgba(230, 230, 230, 0.53);
  border-radius: 5px;
}

.order::-webkit-scrollbar-thumb {
  background-color: #6c63ff;
  border-radius: 20px;
}

.glass-footer {
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.37);
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.glass-header {
  background: linear-gradient(
    to right top,
    rgb(251, 146, 60),
    rgb(251, 113, 133)
  );
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  border: 1px solid rgba(230, 230, 230, 0.21);
}

p {
  width: 100%;
  line-height: 1.2em;
  height: 3.6em;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.glass-efect {
  background: linear-gradient(to right, rgb(196, 181, 253), rgb(167, 139, 250));
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.screen {
  height: calc(100vh - 222px);
}
