@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

.glass-efect {
  background: linear-gradient(
    135deg,
    rgba(242, 110, 2, 0.4),
    rgba(233, 7, 7, 0.2)
  );
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.37);
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 4px;
}
.glass-footer {
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.37);
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 4px;
}
.card-result {
  @apply lg:w-1/4 md:w-1/2 p-4 w-full glass-efect  transition-all duration-500 ease-in-out hover:bg-[#EC7063] hover:text-white transform hover:-translate-y-1 hover:scale-105;
}

.bg {
  @apply bg-gradient-to-b from-red-200 via-red-300 to-yellow-200;
}

.screen {
  height: calc(100vh - 222px);
}

p {
  width: 100%;
  line-height: 1.2em;
  height: 3.6em;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.btn-search {
  @apply absolute flex justify-center items-center right-0 top-0 bottom-0 w-16 rounded-r-lg bg-[#458CD6] hover:bg-[#7baee4];
}

.order-item {
  @apply bg-violet-500/20;
}
